.hero {
    height: 110vh;
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-image: url(../../img/fondo-home.webp);
}

.contenido-hero {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenido-hero .logo-header {
    font-size: 1rem;
}

.contenido-hero h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-family: 'Poppins-extrabold';
    color: #000117;
}

.contenido-hero .text {
    font-size: .9rem;
}

.img-hero {
    width: 50%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.img-hero img {
    height: 130vh;
    transform: rotate(-35deg);
    position: relative;
    bottom: -10rem;
}

.btnCatalogo {
    width: fit-content;
    padding: .5rem 1.5rem;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    font-size: .9rem;
    border-radius: .5rem;
    box-shadow: 0 .4rem #0e458d;
    transition: .2s all;
}

.btnCatalogo:hover {
    box-shadow: 0 .3rem #0e458d;
    position: relative;
    bottom: -.1rem;
}

@media (max-width: 800px) {
    .hero {
        padding-top: 20vh;
        flex-direction: column;
    }

    .contenido-hero {
        width: 100%;
        text-align: center;
    }

    .img-hero {
        width: 100%;
    }

    .img-hero img{
        transform: rotate(0);
        height: 100vh;
        bottom: 0;
        left: 2rem;
    }

    .btnCatalogo {
        margin: 0 auto;
    }
}